body{
    background-color: #a8e0f7;
}
h1{
    text-align: center;
    background-color: #085acc;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600px;
}
img{
    float: right;
}
.list{
    font-style: italic;
}
.link{
    font-weight: bolder;
}
#info{
    font-size: 16px;
    padding: 0px 50px;
}
#info h3{
    font-weight: 100px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

